In [1]:
import pandas as pd
import numpy as np

In [12]:
totals = pd.read_csv('totals.csv').reset_index()
total = pd.read_csv('totals.csv')
#counts = pd.read_csv('counts.csv').set_index(['name'])

totals

,name,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
0,BURNABY SIMON FRASER U,1809,1482,2159,374,606,428,442,68,956,1429,1349,1846
1,CALGARY INTL A,121,22,46,40,683,616,2061,834,253,276,27,224
2,GANDER INTL A,896,1232,992,1106,1236,1015,1264,1096,1026,2422,1184,1099
3,HALIFAX INTL A,1491,1473,1452,1595,1001,725,734,445,845,2185,1305,1835
4,REVELSTOKE,930,561,533,204,546,748,662,274,785,1620,1293,295
5,SHERBROOKE,183,982,621,471,667,671,525,1599,433,1176,594,627
6,TORONTO LESTER B. PEARSON INT',363,491,729,681,346,269,399,667,663,452,497,821
7,VANCOUVER INTL A,1682,1304,1616,242,516,582,328,138,784,2034,2402,1520
8,YELLOWKNIFE A,220,90,28,120,98,306,154,280,488,158,176,116

In [3]:
#sum = pd.DataFrame.sum(totals,axis = 1)
sum = np.sum(totals,axis=1)
sum

0     5203
1    14568
2    15086
3     8451
4     8549
5     6378
6    13148
7     2234
dtype: int64

In [4]:
print(sum.idxmin())

7

In [5]:
totals_sum = pd.DataFrame.sum(totals,axis = 0)
totals_count = counts.sum(axis = 0)

NameError: name 'counts' is not defined

In [ ]:
average = totals_sum/totals_count
print('Average precipitation in each month:')
print(average)

In [ ]:
totals_sum = pd.DataFrame.sum(totals,axis = 1)
totals_count = counts.sum(axis = 1)
totals_sum

In [ ]:
average = totals_sum/totals_count
print('Average precipitation in each city:')
print(average)